@import '~@tds/core-colours/colours';

.switch {
  position: relative;
  cursor: pointer;
  display: inline-block;
  width: 44px;
  min-width: 44px;
  height: 22px;
  border-radius: 22px;
  background-color: $color-gainsboro;
}

.slider {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 2px;
  left: 2px;
  border-radius: 18px;
  background-color: white;
  transition: left 0.25s;
}

.switchOn {
  background-color: $color-accessible-green;
  .slider {
    left: 24px;
  }
}

.switchOff {
  background-color: $color-gainsboro;
  .slider {
    left: 2px;
  }
}

.switchDisabled {
  background-color: $color-gainsboro;
}
.switchDisabled * {
  cursor: not-allowed !important;
}

.hiddenInput {
  opacity: 0;
}
.hiddenInput:focus + .switch {
  box-shadow: 0 0 4px 1px $color-shuttle-grey;
}
