// Full width container with limited with parent: https://css-tricks.com/full-width-containers-limited-width-parents/
// Only activate with there is no sidebar
.rsg--root-1:not(*[class*='rsg--hasSidebar']) .docs_full-width-playground {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
