@import '~@tds/core-colours/colours';

$color-light-gainsboro: #ebebeb;
$color-light-telus-green: #f0faea;
$color-light-telus-purple: #dbd4e2;

.skeleton-text {
  display: inline-block;
  overflow: hidden;
  max-width: 100%;
}

.size-18 {
  height: 18px;
  min-width: 18px;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  border-radius: 9px;
}

.size-24 {
  height: 24px;
  min-width: 24px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
}

.size-36 {
  height: 36px;
  min-width: 36px;
  -moz-border-radius: 18px;
  -webkit-border-radius: 18px;
  border-radius: 18px;
}

.size-48 {
  height: 48px;
  min-width: 48px;
  -moz-border-radius: 24px;
  -webkit-border-radius: 24px;
  border-radius: 24px;
}

.size-64 {
  height: 64px;
  min-width: 64px;
  -moz-border-radius: 32px;
  -webkit-border-radius: 32px;
  border-radius: 32px;
}

.variant-default { background-color: $color-light-gainsboro; }

.variant-primary { background-color: $color-light-telus-green; }

.variant-secondary { background-color: $color-light-telus-purple; }
