@import '~@tds/core-responsive/responsive';
@import '~@tds/core-colours/colours';

.container {
  opacity: 1;
}

.controls {
  clear: both;
  display: flex;
  margin-top: 20px;
  position: relative;
  justify-content: center;
  width: 100%;
}

.next, .nextHidden, .previous, .previousHidden {
  color: $color-telus-purple;
  padding: 0 8px;
  font-size: 1rem;
  button {
    color: $color-telus-purple;
    border: 1px solid $color-white-lilac;
    background-color: $color-white-lilac;
    width: 30px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    @include mq($from: md) {
      background: none;
      border: none;
      width: auto;
      height: auto;
    }
    span.buttonLabel {
      display: none;
      @include mq($from: md) {
        display: inline-block;
      }
    }
  }
}

.nextHidden, .previousHidden {
  visibility: hidden;
}

.pagination {
  display: flex;
  li {
    color: $color-telus-purple;
    background-color: $color-white-lilac;
    border: 1px solid $color-white-lilac;
    height: 30px;
    line-height: 27px;
    width: auto;
    min-width: 30px;
    @include mq($from: md) {
      min-width: 24px;
      height: 24px;
      line-height: 22px;
    }
    list-style: none;
    margin-right: 4px;
    text-align: center;

    button {
      background: none;
      border: none;
      color: $color-telus-purple;
      cursor: pointer;
      padding: 0 5px;
    }
    &:hover {
      border: 1px solid $color-telus-purple;
    }
  }
  li.ellipsis {
    background-color: inherit;
    line-height: 15px;
    border: none;
    &:hover {
      border: none;
    }
  }
  li.current {
    color: $color-white;
    border: 1px solid $color-telus-purple;
    padding: 0 5px;
    background-color: $color-telus-purple;
  }
}
