@import '~@tds/core-responsive/responsive';

.container {
  opacity: 1;
}

.controls {
  clear: both;
  display: flex;
  margin-top: 20px;
}

.next, .previous {
  color: #4B286D;
  padding: 0 8px;
  font-size: 16px;
  button {
    color: #4B286D;
    border: none;
    background-color: #F2EFF4;
    width: 32px;
    height: 32px;
    text-align: center;
    @include mq($from: md) {
      background: none;
      width: auto;
      height: auto;
    }
    span.buttonLabel {
      display: none;
      @include mq($from: md) {
        display: inline-block;
      }
    }
  }
}

.pagination {
  display: flex;
  li {
    color: #4B286D;
    background-color: #F2EFF4;
    width: 32px;
    height: 32px;
    line-height: 29px;
    @include mq($from: md) {
      width: 24px;
      height: 24px;
      line-height: 24px;
    }
    list-style: none;
    margin-right: 4px;
    text-align: center;

    button {
      background: none;
      border: none;
      color: #4B286D;
      cursor: pointer;
    }
    &:hover {
      border: 1px solid #4B286D;
      line-height: 27px;
      @include mq($from: md) {
        line-height: 22px;
      }
    }
  }
  li.ellipsis {
    background-color: inherit;
    line-height: 15px;
    &:hover {
      border: none;
    }
  }
  li.current {
    color: #ffffff;
    button {
      color: #ffffff;
      cursor: default;
    }
    background-color: #4B286D;
  }
}
