@import '~@tds/core-colours/colours';
@import '~@tds/core-responsive/responsive';

.progressBarContainer {
  display: inline-block;
  position: relative;
  background: #ffff;
  width: 100%;
  border-width: thin;
  border-style: solid;
  border-color: $color-gainsboro;
  @extend %progress-bar-height;
  @extend %progress-bar-padding;
  @extend %progress-bar-radius;

  .progressBar {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    height: 100%;
    @extend %progress-bar-radius;
    box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);

  }
  .primary {
    background-color: $color-accessible-green;
  }
  .secondary {
    background: repeating-linear-gradient(
      -60deg,
      #A9ACAF,
      #A9ACAF 2px,
      $color-gainsboro 1px,
      $color-gainsboro 3px
    );
  }
  .error {
    background-color: $color-cardinal
  }
  .disabled {
    background-color: $color-gainsboro
  }
}

%progress-bar-height {
  @include mq($until: md) {
    height: 20px;
  }
  @include mq($from: md ) {
    height: 30px;
  }
}

%progress-bar-padding {
  @include mq($until: md) {
    padding: 7.5px;
  }
  @include mq($from: md ) {
    padding: 12.5px;
  }
}
%progress-bar-radius {
  @include mq($until: md) {
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
  }
  @include mq($from: md ) {
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
  }
}
