@import '~@tds/core-colours/colours';

.link {
  text-decoration: none;
}

.active {
  border-left: 4px solid $color-telus-purple;
  color: $color-telus-purple;
}

.activeText {
  font-weight: bold;
  color: $color-telus-purple;
}

.box {
  &:hover {
    background-color: $color-white-lilac;
  }
}

.hover {
  color: $color-shuttle-grey;
  &:hover {
    color: $color-telus-purple;
  }
}
