@import '~@tds/core-colours/colours';

$font-telus: 'TELUS-Web', 'Helvetica Neue', Helvetica, Arial, sans-serif;

.mainDiv {
  cursor: pointer;
}

.floatIcon {
  float: right;
  padding-left: 10px;
}

.label {
  display: inline-block;
}

.boxShadow {
  background: radial-gradient(
    ellipse at top,
    rgba(150, 150, 150, 0.1) 0%,
    rgba(0, 0, 0, 0) 70%
  );
}

.buttonSubMenu {
  background-color: white;
  border: none;
  width: 100%;
}

.active {
  border-left: 4px solid $color-telus-purple;
  color: $color-telus-purple;
  &:hover {
    background-color: $color-white-lilac;
    cursor: pointer;
  }
}

.buttonDefault {
  font-family: $font-telus;
  color: $color-shuttle-grey;
  &:hover {
    background-color: $color-white-lilac;
    color: $color-telus-purple;
    cursor: pointer;
  }
}

.space {
  justify-content: space-between;
  align-items: center;
  text-align: left;
  display: flex;
}
